# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# The data
UCI\ HAR\ Dataset

# Markdown to HTML files
*.html

# Generated tidy data
measurements.txt

